.Container {
    background-color: #f1f5f9;
    padding: 10rem;
}

.Card-section {
    background-color: #a78bfa !important;
    color: #ffff !important;
    margin: auto;
}
.button {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.button Button {
    border: none !important;
    outline: none !important;
    width: 52px;
    height: 52px;
    font-size: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #facc15;
}
.display {
    color: #f1f5f9;
    text-align: center;
}